header {
	background-color: #e4e4e4;
}
thead th {
	position: sticky;
	top: 0;
	background-color: white;
	cursor: pointer;
}
tfoot th {
	position: sticky;
	bottom: 0;
}
.block {
	background-color: rgba(252, 78, 78, .3);
}
.unblock {
	background-color: rgba(78, 252, 124, .3);
}
th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
    position: relative;
}

th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
    right: 8px;
    position: absolute;
}

th.sorted[data-order="-1"]::after {
	content: "▼"
}

th.sorted[data-order="1"]::after {
	content: "▲"
}